#MySignature{
color:#999;
}
.cnblogs_code pre {
font-family: "Microsoft YaHei";
font-size: 16px!important;
word-wrap: break-word;
white-space: pre-wrap;
}

.cnblogs_code span {
    font-family: "Microsoft YaHei";
font-size: 16px!important;
line-height: 1.5!important;
}
body{
    font-family: "Microsoft YaHei";
font-size: 16px!important;
line-height: 1.5!important;
}